/* .section__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.clients__list {
    display: flex;
    justify-content: space-between;
}

.clients__list .clients__link {
    display: flex;
    width: 170px;
    height: 92px;
    color: var(--clients-color);
    border: 1px solid var(--clients-color);
    border-radius: 4px;
    padding: 16px 32px;
    transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.clients__list .clients__icon {
    fill: currentColor;
}

.clients__list .clients__link:hover,
.clients__list .clients__link:focus {
    border-color: var(--hover-font-color);
    color: var(--hover-font-color);
}

.clients__list .clients__icon:hover,
.clients__list .clients__icon:focus {
    fill: currentColor;
} */



@media screen and (max-width: 1199.98px) {
    .section.clients .section__title {
        margin-bottom: 30px;
    }
}

.clients__list {
    @media screen and (max-width: 767.98px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;

        .clients__item {
            flex-basis: calc((100% - 2 * 30px) / 2);
            margin-left: 30px;
            margin-top: 30px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;

        .clients__item {
            flex-basis: calc((100% - 3 * 30px) / 3);
            margin-left: 30px;
            margin-top: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 767.98px) {
    .clients__icon {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.clients {
    &__link {
        display: flex;
        align-items: center;
        height: 92px;
        color: var(--clients-color);
        border: 1px solid var(--clients-color);
        border-radius: 4px;
        transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);

        @media screen and (max-width: 767.98px) {
            max-width: 210px;
            padding: 16px 0;
        }

        @media screen and (min-width: 768px) and (max-width: 1199.98px) {
            width: 226px;
            padding: 16px 60px;
        }

        @media screen and (min-width: 1200px) {
            width: 170px;
            padding: 16px 32px;
        }
    }
}

.clients {
    &__icon {
        fill: currentColor;
    }
}

.clients {

    &__link:hover,
    &__link:focus {
        border-color: var(--hover-font-color);
        color: var(--hover-font-color);
    }
}

.clients-list {

    &__icon:hover,
    &__icon:focus {
        fill: currentColor;
    }
}