.portfolio-works__img {
    width: 100%;
}
.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.portfolio-works__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-font-color);
    margin-bottom: 4px;
    text-decoration: none;
}

.projects {
    padding-top: 60px;
        padding-bottom: 60px;
    
        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
}
}
.portfolio-works__conte {
    max-width: 450px;

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}

.portfolio-works__img {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}

.portfolio-works__text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
    text-decoration: none;
}

.portfolio-works__conte {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.prod-link {
    text-decoration: none;
    position: relative;
    display: block;
}
 .portfolio-works {
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
 }

@media screen and (min-width: 768px) and (max-width: 1199.98px) {

    .portfolio-works__item:first-child {
        .portfolio-works__link {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

.portfolio-works__conte {
        flex-grow: 1;
    }
}

