:root {
    --main-font: "Roboto", sans-serif;
    --main-white: #ffffff;
    --main-black: #000000;
    --main-dark: #2f303a;
    --main-team: #f5f4fa;
    --main-font-color: #212121;
    --hover-font-color: #2196f3;
    --secondary-font-color: #757575;
    --footer-color: #2f303a;
    --hover-color: #188ce8;
    --clients-color: #afb1b8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}